.header{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.header img{
	width:100%;
}

.short_info {
  position: absolute;
  bottom: 5px;
  left: 35px;
}
th {
  border: 2px solid #fff;
  color: #fff;
  padding: 2px 5px;
  font-size: 30px;
  font-weight: 300;
}
.opis{
  padding: 20px;
  font-size: 17px;
}
.opis h2{
  padding-bottom: 10px;
}
.otz{
  padding: 20px;
}
.short_info{
	font-size: 30px;
}
.opis p{
	font-size: 20px;
	
}
.imgColag {
  text-align: center;
  margin: 0 auto;
}

.colag__content {
  position: relative;
  display: inline-flex;
  max-width: 70%;
  justify-content: center;
  flex-wrap: wrap;
}

.colag__main {
  transition: opacity 400ms linear;
}

.colag__main._visible {
  opacity: 1;
}

.colag__main._hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.colag__picture-container {
  position: relative;
  max-width: 20%;
  cursor: pointer;
}


.colag__picture {
  width: 100%;
  filter: brightness(50%);
  transition: filter 400ms ease;
}

.colag__ramka {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid #fff;
  z-index: 4;
  transition: transform 400ms ease;
}

.colag__picture._active {
  filter: brightness(100%);
}

@media all and (min-width: 800px){
  .opis{
  padding: 20px 250px 20px 20px;
  font-size: 17px;
}
}


