.kvest{
  padding-top: 100px;	
}
.header{
 position: relative;
 background-size: cover;
 background-repeat: no-repeat;
 display: flex;
 justify-content: center;
 padding-top: 200px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}  
.short_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.short-info__container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 5px;
}

th {
  border: 2px solid #fff;
  color: #fff;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: 300;
}
.opis{
	padding: 30px 70px;
}
.opis h2{
  padding-bottom: 10px;
}
.opis p{
	font-size: 20px;
}
.sbtitle{
	padding-bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 15px
}
.imgColag {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

.colag__content {
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 50%;
}

.colag__picture-choose {
  position: relative;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.colag__content img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.colag__main {
  transition: opacity 400ms linear;
}

.colag__main._visible {
  opacity: 1;
}

.colag__main._hidden {
  opacity: 0;
}

.colag__picture-container {
  position: relative;
  max-width: 20%;
  cursor: pointer;
}


.colag__picture {
  width: 100%;
  filter: brightness(50%);
  transition: filter 400ms ease;
}


.colag__ramka {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid #fff;
  z-index: 4;
  transition: transform 400ms ease;
}

.colag__picture._active {
  filter: brightness(100%);
}

@media all and (min-width: 800px){
  .opis{
    padding: 70px 100px;
  }
  .header{
    padding: 0px 30px;}

    .sbtitle{
      font-size: 35px;
    }
    th {
      font-size: 30px;
    }
    
  }

